.dark-theme
    & .bg-fill-default
        background: $dark-theme-bg-color
    & .bg-fill-block
        background: $dark-theme-blocks-color
    & .bg-fill-secondary-accent
        background: $dark-theme-secondary-accent-color
    & .menu-line
        border-right: 1px solid #30363E
    & .menu-logo
        fill: $accent-color
    & .text-accent-first-color
        color: $accent-color
    & .default-text-color
        color: $gray-text-color
    & .bright-text-color
        color: #fff
    & .default-icon-fill
        fill: $gray-text-color
        transition: $transition-time
        &:not(.static-icon)
            &:hover
                fill: $dark-theme-secondary-accent-color
    & .forced-menu-item-color
        & a
            color: $gray-text-color !important
    & .dashboard-menu-item-active, & .dashboard-menu-item:hover
        background: $dark-theme-secondary-accent-color
        &::before
            background: $dark-theme-secondary-accent-color
        & .default-icon-fill, & .forced-menu-item-color a
            fill: #fff
    & .dashboard-section
        border-bottom: 1px solid #30363E
    & .action-proposition-wrapper .cover
        background: rgba(36, 41, 49, .9)
    & button
        color: #fff
        &::before, &::after
            border-color: #fff
        & a
            text-decoration: none
            color: #fff
    & .operations-container-icon
        &:hover
            background: $dark-theme-secondary-accent-color
    & .user-input-sidebar-container
        background: #242931
    & .confirmation-container
        box-shadow: rgba(1, 1, 1, .4) 0px 1px 4px
    & .confirmation-option
        &:hover
            background: $dark-theme-secondary-accent-color
    & input[type='text'], & input[type='password'], & select
        background: transparent
        color: $gray-text-color
    & th
        color: $accent-color 
    & td
        border-bottom: 1px solid #2D333B
    & .schedule-day-container, & .schedule-day-container > div
        background: #30363E
        &::before
            background: #606060
            opacity: .5
        & > div
            color: #fff
    & .schedule-day-container-active
        background: $dark-theme-secondary-accent-color !important
    & *::selection, & *::-moz-selection
        background: $dark-theme-secondary-accent-color
    & .sequence-list
        & span
            color: $gray-text-color !important
    & .instruction-item-contianer::after, & .instruction-item-contianer::before
        background: #30363E 
    & .instruction-item-contianer.filled::before
        background: $dark-theme-secondary-accent-color
    & .user-status-false::before
        background: #30363E
    & .user-status-true::before
        background: $dark-theme-secondary-accent-color
