.dark-theme
    & .bg-fill-default
        background: $dark-theme-bg-color
    & .bg-fill-block
        background: $dark-theme-blocks-color
    & .bg-fill-secondary-accent
        background: $dark-theme-secondary-accent-color
    & .menu-line
        border-right: 1px solid #30363E
    & .menu-logo
        fill: $accent-color
    & .text-accent-first-color
        color: $accent-color
    & .default-text-color
        color: $gray-text-color
    & .bright-text-color
        color: #fff
    & .default-icon-fill
        fill: $gray-text-color
        transition: $transition-time
        &:not(.static-icon)
            &:hover
                fill: $dark-theme-secondary-accent-color
    & .forced-menu-item-color
        & a
            color: $gray-text-color !important
    & .dashboard-menu-item-active, & .dashboard-menu-item:hover
        background: $dark-theme-secondary-accent-color
        &::before
            background: $dark-theme-secondary-accent-color
        & .default-icon-fill, & .forced-menu-item-color a
            fill: #fff
    & .dashboard-section
        border-bottom: 1px solid #30363E
    & .action-proposition-wrapper .cover
        background: rgba(36, 41, 49, .9)
    & button
        color: #fff
        &::before, &::after
            border-color: #fff
        & a
            text-decoration: none
            color: #fff
    & .operations-container-icon
        &:hover
            background: $dark-theme-secondary-accent-color
    & .user-input-sidebar-container
        background: #242931
    & .confirmation-container
        box-shadow: rgba(1, 1, 1, .4) 0px 1px 4px
    & .confirmation-option
        &:hover
            background: $dark-theme-secondary-accent-color
    & input[type='text'], & input[type='password'], & select
        background: transparent
        color: $gray-text-color
    & th
        color: $accent-color 
    & td
        border-bottom: 1px solid #2D333B
    & tr:hover
        td
            background: #2D333B
    & .schedule-day-container, & .schedule-day-container > div
        background: #30363E
        &::before
            background: #606060
            opacity: .5
        & > div
            color: #fff
    & .schedule-day-container-active
        background: $dark-theme-secondary-accent-color !important
    & *::selection, & *::-moz-selection
        background: $dark-theme-secondary-accent-color
    & .sequence-list
        & span
            color: $gray-text-color !important
    & .instruction-item-contianer::after, & .instruction-item-contianer::before
        background: #30363E 
    & .instruction-item-contianer.filled::before
        background: $dark-theme-secondary-accent-color
    & .user-status-false::before
        background: #30363E
    & .user-status-true::before
        background: $dark-theme-secondary-accent-color
    & .hover-text-light:hover
        color: #fff
    & .notification
        border-bottom: 1px solid #30363E

    & .dashboard-text-content
        & h1, & h2, & h3, & h4, & h5
            color: #fff
            padding-top: 15px
        & h3
            font-size: 21px
        & p
            color: $gray-text-color
        & .user-text-selected, & .user-text-selected span
            background: $dark-theme-bg-color !important
            border-radius: 6px !important
            margin: 0 4px
        & .user-text-selected
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px
        & ol, & ul
            padding: 15px 0 15px 25px
            list-style-position: inside
            & li
                color: $gray-text-color
                font-family: 'Raleway-Light'
                font-size: 16px
                line-height: 32px
                padding: 6px 0
        & .user-selected-box
            margin-top: 10px
            border: 2px dashed $accent-color !important
            opacity: .6
            color: $gray-text-color
            font-family: 'Raleway-Light'
            font-size: 16px
            line-height: 24px
            padding: 6px 0
            & > p:first-of-type
                padding-top: 0px !important
        & .user-important-notice
            padding: 20px !important
            background: $dark-theme-bg-color !important
            border-left: 7px solid $dark-theme-secondary-accent-color !important
            font-family: 'Raleway-Light'
            font-size: 16px
            line-height: 24px
            color: #fff
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
            margin-top: 15px
        & .user-con, & .user-con-trans
            border: none !important
            overflow: scroll !important
            margin-top: 15px

        & .user-con
            background: $dark-theme-bg-color !important
        & strong
            font-family: 'Raleway-Bold'
            font-weight: 400
        & code
            background: $dark-theme-bg-color !important
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
            border-radius: 6px
        & a
            color: $dark-theme-secondary-accent-color

        & table
            th
                color: #fff !important
            td
                color: $gray-text-color !important
            td, th
                font-family: 'Raleway-Light'
                padding: 20px !important

    & .header-item
        &.H4::after
            background: $dark-theme-bg-color
        &.H3::after
            background: $accent-color
        &.H2::after
            background: $dark-theme-secondary-accent-color !important


            
