$gray-text-color: #C2C2C2
$black-text-color: #181E27
$accent-color: #EFD7BC

$dark-gradient: linear-gradient(120deg, rgba(21,27,36,1) 0%, rgba(38,43,51,1) 100%)

$transition-time: .3s

$desktop-minimal: 1200px
$desktop-hight: 850px

$desktop-1440: 1400px

$tablet-big: 1190px
$tablet-medium: 800px
$tablet-small: 768px

$phone-big: 450px
$phone-middle: 450px
$phone-small: 390px

// ------------------------------------------

$success-color: #37AF7F
$warning-color: #D2D56E

$dark-theme-bg-color: #1A2029
$dark-theme-blocks-color: #1E252E
$dark-theme-secondary-accent-color: #9F193A

$light-theme-bg-color: #FdFdFd
$light-theme-blocks-color: #fff
$light-theme-secondary-accnet-color: #93BCF9
$light-theme-text-color: #A1A1A1